
/* fullcalendar */
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
    background-color: #3577F2;
}
.fc--button{
    display: none !important;
}
.fc-next-button {
    border-radius: 0 0.25em 0.25em 0 !important;
}
.fc-prev-button {
    border-radius: 0.25em 0 0 0.25em !important;
}
.fc-toolbar-chunk{
    font-size: 14px !important;
}
.fc-button-group{
    margin-left: 0px !important;
}
.fc-timeGridWeek-button{
    border-radius: 0px !important;
}
/* full calendar end */

.dropdown-toggle::after{
    display: none;
}
.calendar-dropdown .dropdown-item:active {
    background-color: var(--primary);
}
.fc-daygrid-event{
    cursor: pointer;
}



.select2-container--default .select2-selection--multiple .select2-selection__choice__display, .select2-results__option--selectable{
    font-size: 13px;
    color: #555;
}
.show-task{
    background: #dde0ea;
    color: #405189 !important;
}

.done-select option, .not-done-select option, .task-select option, .task-modal-select option{
    color: #212529;
}
.done-select, .not-done-select,  .task-modal-select{
    font-size: 12px;
    outline: none;
    border-radius: 3px;
}




#modal-reminder-done, #modal-reminder-notdone, #modal-reminder-delete{
    box-shadow: none;
}


td.High, td.Urgent{
    color: red !important;
}
td.Medium{
    color: #03a9f4 !important;
}